---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout
  title={"Net Price Calculator | Florida Education Institute"}
  description={"Estimate your cost of attendance at Florida Education Institute before you apply for financial aid."}
  hideFooter
  forceStuckNav
  noindex
>
  <div class="npc-fullbleed">
    <h1 class="sr-only">Net Price Calculator</h1>
    <iframe
      id="npcIframe"
      src="https://prospect.studentaidprocess.com/saintprospect/(S(40kkiregszjxcq54z22ry0sy))/netpricecalculator?corpid=139"
      width="100%"
      height="100%"
      frameborder="0"
      marginwidth="0px"
      marginheight="0px"
      scrolling="yes"
      title="Net Price Calculator"
    ></iframe>
  </div>
</BaseLayout>
